
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-image: url(./images/bg-desktop-dark.jpg);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #1e1e2c;
    height: 100vh;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* MAIN STYLES */

.main-card-container {
    background-color: #b466f0;
    width: 50%;
    height: auto;
    position: relative;
    margin: 0 auto;
    margin-block-start: 10%;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 10px;
}
.app-title {
    font-size: 1.5rem;
    padding-block: 5%;
    text-align: left;
    margin-left: 5%;
    color: black;
}
.form-container{
    display: flex;
    justify-content: left;
    gap: 10px;
    margin-left: 5%;
    padding-bottom: 5%;
}
.text-input{
    border-radius: 10px;
    padding-block: 5px;
    border: none;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.text-input::placeholder {
    text-align: center;
}
.submit-button {
    padding-block: 5px;
    padding-inline: 10px;
    border-radius: 10px;
    border: none;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.submit-button:hover{
    background-color: #809df4;
}
.list-container {
    list-style-image: url(./images/icon-check.svg);
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-inline: 10%;
}
li {
    padding-block-start: 2%;
    padding-block-end: 2%;
}
span {
    margin-left: 5%;
}
.checked {
    text-decoration: line-through;
}